@*This is for future updates*@

@model JobFinder.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <input type="hidden" name="Code" value="@Model.Code" />
        <div class="row">
            <label for="Email" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
                <input type="email" name="Email" id="Email" class="form-control" />
            </div>
        </div>
        <div class="row">
            <label for="Password" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-10">
                <input type="password" name="Password" id="Password" class="form-control" />
            </div>
        </div>
        <div class="row">
            <label for="ConfirmPassword" class="col-md-2 col-form-label">Confirm Password</label>
            <div class="col-md-10">
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark" value="Reset" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
