@*This is for future updates*@

@model JobFinder.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="rememberMe" value="@Model.RememberMe" />
        <h4>Send verification code</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                Select Two-Factor Authentication Provider:
                <select name="SelectedProvider" id="SelectedProvider" class="form-control">
                    @foreach (var provider in Model.Providers)
                    {
                        <option value="@provider.Value">@provider.Text</option>
                    }
                </select>
                <input type="submit" value="Submit" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
